:root {
    --primary-color: #172636;
    --secondary-color: #f5f5f5;
    --tertiary-color: #ACB3B8;
    --hover-color: #F9DB47;
    --btn-color: #FF8D3E;
    --bg-fade: #171C30;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background-color: var(--primary-color);

}

.nav-main-container {
    width: 62%;
    
}

.nav-main-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.nav-main-container ul li a {
    text-decoration: none;
    color: var(--tertiary-color);

    transition: all 0.3s ease;
}

.nav-main-container ul li a:hover {
    color: var(--hover-color);
}
/* Your existing CSS */
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--tertiary-color); /* Adjust color as needed */
    margin-left: 5px; /* Adjust position as needed */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-fade);
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-top: 10px; /* Add your desired margin-top */
    margin-left: -20px;
}

.dropdown-content a {
    color: var(--secondary-color) !important;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: var(--hover-color) !important;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    opacity: 1;
}



.header-btn {
    background-color: var(--btn-color);
    color: var(--secondary-color);
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
}

.header-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.home-banner, .client-banner, .sub-service-banner, .portfolio-banner, .email-subscription-banner, .join-us-banner{
    margin-bottom: 10px;    
}

.main-home-container, .main-service-container, .main-sub-service-container, .page-main-container, .main-join-container, .main-contact-form, .team-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background-color: var(--primary-color);
}

.main-home-container .left-container {
    width: 50%;
}

.main-home-container .left-container h1{
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 56px;
}

.main-home-container .left-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.main-home-container .left-container .home-btn {
    display: flex;
    gap: 10px;
    /* height: 50px; */


}
.main-home-container .left-container .home-btn h2{
    font-size: 56px;
    font-weight: 700px;
    margin-top: 20px;
    color: var(--secondary-color);


}

.main-home-container .left-container .home-btn button{
    margin-top: 20px;
    background-color: var(--hover-color);
    color: var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 20px;
    font-weight: 200px !important;
    padding: 20px;
    height: 80px;
    
}

.main-home-container .left-container .home-btn button:hover {
    background-color: var(--btn-color);
    cursor: pointer;
    color: var(--secondary-color);
}

.main-home-container .home-btn span{
    font-size: 20px;
    font-weight: 100px;
}

.main-service-container{
    margin-top: 200px;
}

.main-service-container .left-container .service-img{
    width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 200px 5px 5px;


}

.main-service-container .left-container {
    position: relative;
}

.main-service-container .left-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    /* Use linear-gradient for the background */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.658));
    border-radius: 5px 200px 5px 5px;
}

.main-service-container .left-container .clipart {
    position: absolute;
    top: 80%;
    left: 70%;
    width: 25%;
    height: auto;
}

.main-service-container .right-container {
    width: 50%;
}

.main-service-container .right-container h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 56px;

    
}
.main-service-container .right-container .icon-text{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    
}
.main-sub-service-container .left-container .icon-text{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    
}
.icon-text {
    display: flex; /* Use flexbox */
    justify-content: center; /* Align content horizontally to the center */
    align-items: center; /* Align content vertically to the center */
}

.icon-text i {
    font-size: 30px;
    color: var(--btn-color);
    background-color: #FEFBED;
    padding: 20px;
    border-radius: 50%;
}

.client-banner{
    margin-top: 300px;
    width: 100%;

}
.client-main-container .client-logo {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0 5%;
    margin: 0 10px;
}

.client-main-container .client-logo > * {
    flex-basis: calc((100% - 5 * 30px) / 6);
}

.client-main-container .client-logo img {
    max-width: 145px;
    height: auto; 
    object-fit: contain; 
    border-radius: 5px;
    margin-bottom: 30px;
    opacity: 0.5;
}

.client-main-container .client-logo img:hover {
    opacity: 1;
    cursor: pointer;
}


.client-main-container h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 80px;
    line-height: 56px;
    text-align: center;
    padding: 0 400px;
}

.client-main-container .cmn-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;


}

.client-main-container .cmn-btn button{
    background-color: var(--hover-color);
    color: var(--bg-fade);
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300px !important;
    padding: 0 35px;
    height: 60px;
    
}

.client-main-container .cmn-btn button:hover {
    background-color: var(--btn-color);
    cursor: pointer;
    color: var(--secondary-color);
}


.main-sub-service-container .left-container {
    width: 50%;
}

.main-sub-service-container .left-container h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 56px;

    
}

.main-sub-service-container .left-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}


.main-sub-service-container .right-container {
    width: 50%;
}



.main-sub-service-container .right-container {
    position: relative;
}

.main-sub-service-container .right-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
    /* Use linear-gradient for the background */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.658));
    border-radius: 200px 5px 5px 5px;
}

.main-sub-service-container .right-container .clipart {
    position: absolute;
    top: 90%;
    left: -10%;
    width: 25%;
    height: auto;
}

.main-sub-service-container .right-container .service-img{
    width: 85%;
    height: auto;
    object-fit: cover;
    border-radius: 200px 5px 5px 5px;


}

.main-sub-service-container .left-container .icon-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.main-sub-service-container .left-container .icon-container .icon-text{
    display: flex;
    flex-direction: column;

    
}

.main-sub-service-container .left-container .icon-container .icon-text h2{
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 32px;
    text-align: center;
    padding: 0 20px;
}


.main-sub-service-container .left-container .cmn-btn{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 50px;
 
}

.main-sub-service-container .left-container .cmn-btn button{
    background-color: var(--hover-color);
    color: var(--bg-fade);
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300px !important;
    padding: 0 35px;
    height: 60px;
    
}

.user-blog{
    margin-top: 150px;
}

.portfolio-main-container h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 51px;
    text-align: center;
    padding: 0 300px;
}

.portfolio-container  {
    display: flex;
    justify-content: center;
    gap: 5px;
    /* flex-wrap: wrap; */
    /* padding: 0 5%; */
    margin: 0 70px;
}

.portfolio-containe .portfolio-item {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 30px;
    opacity: 0.5;
    align-items: center;

}

.portfolio-item img{
    width: 360px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    /* margin-bottom: 30px; */

}

.portfolio-item img {
    transition: transform 0.5s ease; /* smooth transition */
    transform: scale(0.9)
}

.portfolio-item img:hover {
    transform: scale(1.0) rotate(5deg); /* scale and rotate on hover */
    cursor: pointer; /* change cursor to pointer */
}


.portfolio-item .icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.portfolio-item .portfolio-item-text{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 20px;
    /* gap: 10px; */
}

.portfolio-item-text .cmn-btn{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 0;
    align-items: center;

}

.cmn-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.cmn-btn button{
    background-color: var(--hover-color);
    color: var(--bg-fade);
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px !important;
    padding: 0 35px;
    height: 60px;
    border: 0;

}

.email-subscription-banner{
    margin-top: 350px;
}

.email-subscription-banner .left-container {
    width: 50%;
    margin-right: 200px;
}

.email-subscription-banner .left-container h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 20px;
    line-height: 56px;

    
}

.email-subscription-banner .left-container p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--tertiary-color);
}

.email-subscription-banner .left-container .email-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.email-subscription-banner .left-container .subscription-form .input-container input{
    padding: 20px;
    width: 420px;
    border-radius: 10px;
    border: 0;
    margin-top: 20px;
    
}

.email-subscription-banner .left-container .subscription-form .input-container button{
    background-color: var(--btn-color);
    color: var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px !important;
    padding: 0 35px;
    height: 40px;
    border: 0;
    margin-top: 28px;
    margin-right: 5px;
    
}

.subscription-form {
    position: relative;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    padding-right: 40px; /* Adjust the padding to accommodate the button */
}

.input-container button {
    position: absolute;
    top: 0;
    right: 0;
}


.email-subscription-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5%;
}

.email-subscription-banner .right-container {
    width: 50%;
}

.email-subscription-banner .right-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 200px 5px 5px;
}

/* Footer styles */
.footer-main-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
  }
  

  .footer-container {
    width: 15%; /* Reduced width for other containers */
    padding: 0 5%;
}

.footer-container:nth-child(2) {
    width: 45%; /* Increased width for the second container */
}
.footer-container:nth-child(1) {
    width: 20%; /* Increased width for the second container */

    margin-top: 30px; /* Adjust the margin as needed */
    display: flex;
    flex-direction: column;
    gap: 80px;

}


  
  .footer-container h2 {
    color: var(--secondary-color);
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .footer-container p {
    color: var(--tertiary-color);
    font-size: 16;
    line-height: 32px;
  }
  
  .social-media-icon {
    margin-top: 15px;
  }
  
  .social-media-icon i {
    margin-right: 10px;
    font-size: 20px;
    color: var(--secondary-color);
  }
  
  .footer-container ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-container ul li {
    margin-bottom: 20px;
  }
  
  .footer-container ul li a {
    color: var(--tertiary-color);
    text-decoration: none;
  }

  .footer-container ul li a:hover {
    color: var(--hover-color);
  }
  
  .footer-bottom {
    padding: 20px 5%;
    
  }
  
  .footer-bottom img {
    margin-right: 10px;
  }

  .footer-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 200px;
  }
  

